{
    "printWidth": 170,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "wrapAttributes": "aligned-multiple",
    "htmlWhitespaceSensitivity": "strict",
    "organizeImports": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "crlf",
    "useTabs": false,
    "quoteProps": "consistent"
}
